<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

    <style>
   @keyframes example {
       0% {background-color: red; left:0px; top: 0px; transform: rotate3d(0,1,0 180deg);}
       25% {background-color: yellow; left:200px; top:0px; transform: rotate3d(1,0,0 360deg);}
       50% { background-color: blue; left:200px; top:200px; transform: rotate3d(0,0,1 540deg);}
       75% {background-color: chartreuse; left:0px; top: 200px;}
       100%{background-color: darkcyan; left: 0px; top:0px;}
   }
   @keyframes cub {
0% {transform: rotate(90deg);}
25% {transform: rotate(180deg);}
75% {transform: rotate(270deg);}
100% {transform: rotate(360deg);}
   }
   @keyframes heart {
      
   }
    .box {
        height:200px;
        width: 200px;
       margin: 50px 20px  20px 0;
    }
    #green {
        background-color: green;
         bottom: 0;
        right: 0; 
        position: absolute;
        transition: height 2s, width 2s;
    }
    #green:hover {
        background-color: lightpink;
        height: 400px;
        width: 300px;
        
    }
    #red {
        background-color: whitesmoke;
        /*transform: translate(200px, 200px);
        transform: rotate(30deg);*/
        /*transform: scale(2, 1.5);*/        
        /*transform: skewX(20deg);*/
        /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
        animation-name: example;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        /* transform: rotate(90deg); */

        position: relative;
       /* animation-name: example;
        animation-duration: 5s;
        position: relative;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-fill-mode: forwards;*/
        /*animation: example 5s linear 2s infinite alternate;*/
    }
    </style>
    
    <style>
        h1 {
            color: lime;
            background-color: magenta;
            border-radius: 15px;
        }
        div {
            width: 200px;
            height:100px;
        }
    </style>
</head>
<body>
    <h1 style="color: blue; border: 5px solid green"; ><span style="color: red">Hel</span>lo World!</h1>
<div class="box" id="green"><span style="color: red">CSS</span></div>
<div class="box" id="red">Hello</div>
<div><h1>STEP Academy</h1></div>
</body>
</html>
